@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --primary-color:#840ff1;
}
*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing:border-box;
}
body{
    font-family:'lato', sans-serif;
}
.container{
    padding: 0 90px;
}
/* all same codes */
section{
    padding:100px 0;
}
section .container .title{
    text-align: center;
    font-size:40px;
    font-weight: 600;
    margin-bottom:30px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
section .container .title::before{
    content: "";
    position: absolute;
    bottom:0;
    background:red;
    height:5px;
    width:140px;
    left:50%;
    transform: translate(-50%);
}
section .container .title::after{
    padding:0 5px;
    color:var(--primary-color);
    position: absolute;
    bottom:-10px;
    background:#fff;
    font-size:17px;

    left:50%;
    transform: translate(-50%);
}
/* navbar styling */
.nav .container{
    position: fixed;
    width:100%;
    z-index: 999;
    transition: all 0.3s ease;
}
.nav.sticky .container{
    background:var(--primary-color);
    color:#fff;
}
.nav.sticky .container .logo span{
    color:#fff;
}
.nav.sticky .container .navbar ul li a{
    color:#fff;
}
.nav .container .navbar .menu,
.nav .container .navbar nav img{
    display: none;
}
.nav .container .navbar{
    height:70px;
    flex-wrap: wrap;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav .navbar .logo span{
    font-size: 24px;
    font-weight: 600;
    color:var(--primary-color);
}
.navbar nav ul{
    list-style-type:none;
}
.navbar nav ul li{
    display:inline-block;
}
.navbar nav ul li a{
    display: inline-block;
    padding:0 4px;
    color:#000;
    margin:0 6px;
    font-size:18px;
    transition: all 0.3s ease;
}
.navbar nav ul li a:hover{
    color:var(--primary-color);
    font-weight: 500;
}

/* showcase styling */
.home{
    background-color:rgb(250, 247, 252);
}
.home .home-content{
    display:flex;
    justify-content: space-between;
}
.home .home-content .home-left{
    padding-top:20px;
}
.home .home-content .home-left .text{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top:40px;
}
.home .home-content .home-left .name{
    font-size:60px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.home .home-content .home-left .who{
    font-size: 32px;
    font-weight: 500;
}
.home .home-content .home-left .who span{
    color:var(--primary-color);
    font-weight: 700;
}
.home .home-content .home-left a{
    background:var(--primary-color);
    color:#fff;
    padding:13px 35px;
    display:inline-block;
    margin-top:20px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 23px;
    border:2px solid var(--primary-color);
    transition: all 0.3s ease;
}
.home .home-content .home-left a:hover{
    background:none;
    color:var(--primary-color);
}
.home .home-content .home-right{
    margin-right:20px;
}
.home .home-content .home-right img{
    width:450px;
}

/* about section */
section.about .container .title::after{
    content:"01";
}
.about .about-content{
    margin:80px 0;
    display:flex;
}
.about .about-content .column{
    width:calc(50% - 30px);
}

.about .about-content .left .img-bg{
    background:var(--primary-color);
    width:380px;
    height:200px;
    border-radius:41% 59% 71% 29% / 45% 98% 2% 55% ;
    border-bottom:9px solid var(--primary-color);
}
.about .about-content .left .img-bg img{
    width:450px;
    margin-top:-101px;
    object-fit: cover;
    margin-bottom:0;
}
.about .about-content .right .text{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}
.about .about-content .right .text span{
    color:var(--primary-color);
    font-weight: 600;
}
.about .about-content .right .info{
    font-size: 21px;
    font-weight: 500;
    text-align: justify;
}
.about .about-content .right .info span{
    display:block;
    margin-top:10px;
}

/* services section */
section.services .container .title::after{
    content:'02';
}
/* media Query */ 
@media only screen and (max-width:1220px){
    .container{
        padding-left:15px;
    }
}
@media only screen and (max-width:1180px){
    .container{
        width:930px;
        padding:0 50px;
        margin:0;
    }
    nav{
        display:none;
    }
    nav.show{
        display:block;
        width:100%;
        height:100vh;
        position: fixed;
        top:0;
        left:0;
        background:#000;
        z-index:999;
    }
    nav.show img{
        float:right;
        margin:30px 30px 0 0;
    }
    nav.show ul{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 130px;
    }
    nav.show ul li a{
        color:#fff;
        margin:10px 0;
        font-size:25px;
    }
    .nav .container .navbar .menu{
        display:block;
    }
    .home .home-content .home-right{
        margin-right:0;
    }
    .home .home-content .home-right img{
        width:350px;
    }

    .home .home-content .home-left .text{
        font-size: 19px;
    }
    .home .home-content .home-left .name{
        font-size:55px;
    }
    .home .home-content .home-left .who{
        font-size: 30px;
    }
}

@media only screen and (max-width:968px){
    .container{
        width:unset;
        padding:0 30px;
    }
    nav.show{
        width:100%;
    }
    .home .home-content .home-right{
        display:none;
    }
    .home .home-content .home-left .text{
        font-size: 17px;
    }
    .home .home-content .home-left .name{
        font-size:50px;
    }
    .home .home-content .home-left .who{
        font-size: 25px;
    }
    .home .home-content .home-left a{
        padding:10px 30px;
        font-size: 20px;
    }
    .about .about-content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about .about-content .column.left{
        margin: 40px;
        width:unset;
    }
    .about .about-content .column{
        width:100%;
    }
    .about .about-content .right .text{
        font-size: 33px;
    }
    .about .about-content .right .info{
        font-size: 19px;
        font-weight: 500;
    }
}
@media only screen and (max-width:668px){

    .home .home-content .home-left .text{
        font-size: 17px;
    }
    .home .home-content .home-left .name{
        font-size:40px;
    }
    .home .home-content .home-left .who{
        font-size: 22px;
    }
    .home .home-content .home-left a{
        padding:8px 20px;
        font-size: 19px;
    }
    .about .about-content .right .text{
        font-size: 19px;
        font-weight: bolder;
    }

}
@media only screen and (max-width:390px){
    .home .home-content .home-left .text{
        font-size: 17px;
    }
    .home .home-content .home-left .name{
        font-size:30px;
    }
    .home .home-content .home-left .who{
        font-size: 19px;
    }
    .home .home-content .home-left a{
        padding:8px 18px;
        font-size: 19px;
    }
    .about .about-content .left{
        padding-left:20px;
    }
    .about .about-content .left .img-bg{
        width:340px;
        height:180px;
    }
    .about .about-content .left .img-bg img{
        width:450px;
        margin-top:-121px;
    }
    .about .about-content .right .text{
        font-size: 20px;
    }
    .about .about-content .right .info{
        font-size: 16px;
        text-align:center;
    }

}