@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --primary-color:#840ff1;
    --secondary-color:#333;
    --thirty-color:crimson;
    --color: #007af3;
    --services-color:#1b1a1b;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,
body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.container{
    padding:5px 20px;
}
section{
    padding:100px 0;
}
/* all same codes */
header .container,
.home .home-content,
.about .about-content
{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
section{
    padding:100px 0;
}
section .container .title{
    margin-top:-20px;
    position: relative;
    text-align: center;
    font-size:35px;
    font-weight: 600;
    padding-bottom:8px;
    font-family: "Ubuntu", sans-serif;
}
section .container .title::before{
    content: "";
    position: absolute;
    bottom:0;
    background:red;
    height:5px;
    width:140px;
    left:50%;
    transform: translate(-50%);
}
section .container .title::after{
    padding:0 5px;
    color:var(--primary-color);
    position: absolute;
    bottom:-8px;
    font-family: "Poppins";
    background:#fff;
    font-size:15px;
    left:50%;
    transform: translate(-50%);
}

/* navbar */
header{
    position:fixed;
    width:100%;
    z-index: 999;
}
header nav{
     display:none;
}
header nav.show{
    display:block;
}
header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo{
    color:var(--primary-color);
    font-size: 22px;
    font-weight: 600;
}
header .container .menu{
    font-size: 19px;
}
header.sticky{
    background:var(--primary-color);
    color:#fff;
}
header.sticky ul li a:hover{
    color:#fff;
}
header.sticky .logo{
    color:#fff;
}
header nav{
    width:100%;
    position:fixed;
    height: 100vh;
    z-index: 9999;
    background:#000;
    color:#fff;
    top:0;
    left:0;
}
header nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 30px;
    position: relative;
}
header .container nav img{
    top:20px;
    right:20px;
    position: absolute;
}
header nav ul li a{
    display:block;
    color:#fff;
    margin:10px 0;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}
header nav ul li a.home{
    margin: 60px 0 0 0 ;
}
header nav.show ul li a:hover{
    font-weight: 600;
}
/* showcase section */
section.home{
    background:#faf7fc;
    height:90vh;
}
.home .home-left{
    padding-top:30px;
}
.home .home-left .text{
    font-size: 19px;

}
.home .home-left .name{
    font-weight: 600;
    font-size: 35px;
    margin:5px 0;
    font-family: "Ubuntu", sans-serif;
}
.home .home-left .who{
    font-size: 20px;
}
.home .home-left .who span{
    font-weight: 600;
    color:var(--primary-color);
}
.home .home-left a{
    display:inline-block;
    text-decoration: none;
    background:var(--primary-color);
    color:#fff;
    padding:5px 13px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    margin-top:20px;
    border:2px solid var(--primary-color);
    transition: all 0.3s ease;
}
.home .home-left a:hover{
    background:none;
    color:var(--primary-color);
}
.home .home-content .home-right{
    display:none;
}
/* about */
section.about .container .title::after{
    content:"01";
}
.about .container .about-content{
    display:flex;
    flex-direction: column;
}
.about .about-content .column{
    width:100%;
}
.about-content{
    margin-top:115px;
}
.about .about-content .left{
    margin-bottom: 28px;
    display:flex;
    justify-content: center;
}
.about .about-content .left .img-bg{
    background:var(--primary-color);
    width:330px;
    height:150px;
    border-radius:41% 59% 71% 29% / 45% 98% 2% 55% ;
    border-bottom:9px solid var(--primary-color);
}
.about .about-content .left .img-bg img{
    width:400px;
    margin-top:-116.8px;
    object-fit: cover;
} 
.about .about-content .right .text{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    position:relative;
    margin-bottom: 40px;
}
.about .about-content .right .text::before{
    content: "";
    position: absolute;
    bottom:-10px;
    background:rgb(0, 255, 42);
    height:5px;
    width:140px;
    left:50%;
    transform: translate(-50%);
}
.about .about-content .right .text::after{
    content:"The code master";
    padding:0 5px;
    color:var(--primary-color);
    position: absolute;
    bottom:-18px;
    font-family: "Poppins";
    background:#fff;
    font-weight: 400;
    font-size:14px;
    left:50%;
    transform: translate(-50%);
}
.about .about-content .right .info{
    font-size: 17px;
}
.about .about-content .right .info span{
    display:block;
    margin-top:10px;
}
.about .about-content .right a{
    background:var(--primary-color);
    color:#fff;
    padding:6px 12px;
    display:inline-block;
    margin-top:20px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    border:2px solid var(--primary-color);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    background:none;
    color:var(--primary-color);
}
/* services */
section.services .container .title::after{
    content:"03";
    color:#fff;
    background:var(--services-color);
}
section.services{
    background:var(--services-color);
    color:#fff;
}
.services .services-content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));
}
.services .services-content .box{
    background:var(--secondary-color);
    padding:40px 10px;
    border-radius: 6px;
    text-align:center;
    margin:30px 5px 20px 0;
    overflow: hidden;
    margin-right:10px;
    transition: all 0.3s ease;
}
.services .services-content .box:last-child{
    margin-left:0;
}
.services .services-content .box i{
    font-size: 60px;
    margin-bottom: 10px;
    color:var(--primary-color);
}
.services .services-content .box .text{
    font-size: 25px;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
}
.services .services-content .box .info{
    font-size: 17px;
    text-align: center;
}
.services .services-content .box:hover{
    background:var(--primary-color);
}
.services .services-content .box:hover i{
    color:#fff;
}
.services .services-content .box .card{
    transition: all 0.3s ease;
}
.services .services-content .box:hover .card{
    transform:scale(1.05);
}

/* skills section */
section.skills .container .title::after{
    content:"04";
}
.skills .skills-content .left{
    width:100%;
    margin-bottom: 40px;;
}
.skills .skills-content .left h2{
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}
.skills .skills-content .left p{
    font-size: 17px;
    margin-top:10px;
    font-weight: 300;
}

.skills .skills-content .right{
    width:100%;
}
.skills .skills-content .right .box{
    margin:10px 0;
}
.skills .right .box .card{
    display:flex;
    justify-content: space-between;
    font-size: 17px;
    padding:4px 0;
}
.skills .right .box .card .skill{
    font-size: 17px;
    font-weight: 500;

}
.skills .right .box .line{
    width:100%;
    background:lightgrey;
    height:10px;
    border-radius: 6px;
    position:relative;
}
.skills .right .box .line::before{
    position:absolute;
    content:"";
    left:0;
    background:var(--primary-color);
    height:100%;
}
.skills .right .box .line.html::before{
    width:95%;
}
.skills .right .box .line.css::before{
    width:89%;
}
.skills .right .box .line.js::before{
    width:90%;
}
.skills .right .box .line.fr::before{
    width:75%;
}
.skills .right .box .line.rt::before{
    width:85%;
}
.skills .right .box .line.nd::before{
    width:88%;
}
.skills .right .box .line.fg::before{
    width:90%;
}

/* Portfolio*/
section.portfolio .container .title::after{
    content:"05";
}

.portfolio .portfolio-content .topics{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 40px;;
    margin-top: 30px;
}

.portfolio .topics .topic-box{
    margin:5px 4px;
    font-size: 17px;
    background:#dad6db;
    color:#000;
    padding:4px 8px;
    border-radius: 6px;
}
.portfolio .topics .topic-box.all{
    background:var(--primary-color);
    color:#fff;
}
.portfolio .portfolio-content .projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem,1fr));
}
.portfolio .projects .card{
    border-radius: 6px;
    margin:20px 5px;
    text-align: center;
    background:#f1efef;
    transition: all 0.3s ease;
    border:2px solid #e2dcdc;
    overflow: hidden;
}
.portfolio .projects .card img{
    width:100%;
    height:auto;
    object-fit: cover;
}
.portfolio .projects .card .box{
    transition: all 0.3s ease;
}
.portfolio .projects .card:hover .box{
    transform: scale(1.05);
}
.portfolio  .card .info{
    text-align: center;
}
.portfolio  .card .info .subtitle .name{
    display: block;
    margin:10px 0 0 0;
    font-size: 18px;
    font-weight: 500;
}
.portfolio  .card .info .subtitle .text{
    font-size: 13px;
}
.portfolio  .card .info a{
    background:var(--primary-color);
    color:#fff;
    padding:5px 10px;
    display:inline-block;
    margin:20px 5px 5px 0;
    border-radius: 6px;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    border:2px solid var(--primary-color);
    transition: all 0.3s ease;
}
.portfolio  .card .info a:hover{
    background:none;
    color:var(--primary-color);
}
/* Testmonials section */
section.testimonials .container .title::after{
    content:"06";
    background:#222;
}
section.testimonials{
    background:#222;
    color:#fff;
}
.testimonials .carousel{
    margin-top: 50px;
}
.testimonials .carousel .card{
    background:#333;
    border-radius: 6px;
    padding:25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.testimonials .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}
.testimonials .carousel .card:hover .box{
    transform:scale(1.04);
}
.testimonials .carousel .card img{
    height:150px;
    width:150px;
    border:5px solid var(--primary-color);
    border-radius: 50%;
    object-fit: cover;
}
.testimonials .carousel .card p{
    font-size: 17px;
    margin-top:20px;
}
.testimonials .carousel .card .name{
    color:var(--primary-color);
    font-weight: 600;
    margin-top: 20px;
}
.testimonials .carousel .card:hover{
    background:var(--primary-color);
}
.testimonials .carousel .card:hover .name{
    color:#fff;
}
.testimonials .carousel .card:hover img{
    border-color: #fff;
}
.testimonials .carousel .card .name span{
    color:lightgrey;
    font-size: 10px;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    width:13px;
    height: 13px;
    border-radius: 50%;
    margin:0 5px;
    outline: none;
    border:3px solid var(--primary-color)!important;
}
.owl-dot.active{
    width:35px;
    border-radius: 7px;
}
.owl-dot.active,
.owl-dot:hover{
    background: var(--primary-color)!important;
}
/* contact section */
section.contact .container .title::after{
    content:"06";
}
.contact .contact-content .left{
    margin-top:20px;
}
.contact .left .info .box{
    display:flex;
    align-items: center;
    margin:10px 0;
}.contact .left .info .box i{
    font-size: 23px;
    color:var(--primary-color);

}
.contact .left .info .box .in{
    margin-left:20px;
}
.contact .left .info .box .head{
    font-weight: 600;
}
.contact .left .info .box .subtitle{
    font-size: 14px;
}
.contact .left .info .box .m{
    margin-left:24px;
}
.contact .contact-content .right{
    margin-top:50px;
}
.contact .contact-content .right h3{
    margin-bottom: 7px;
}
.contact .contact-content .right .fields{
    display:flex;
    flex-direction: column;
}
.contact .contact-content .right .fields .field{
    height: 45px;
    border:1px solid #222;
    border-radius: 6px;
    margin-bottom: 10px;
}
.contact .right .fields input{
    width:100%;
    border:none;
    border-radius: 6px;
    font-size: 17px;
    outline:none;
    padding-left:10px;
    height: 100%;
}
.contact .right form textarea{
    border-radius: 6px;
    resize: none;
    width:100%;
    padding:10px;
    font-size: 17px;
}
.contact .right form input[type="submit"]{
    background:var(--primary-color);
    color:#fff;
    padding:6px 12px;
    display:inline-block;
    margin-top:20px;
    border-radius: 6px;
    font-size: 17px;
    font-family: "Poppins",sans-serif;
    border:2px solid var(--primary-color);
    transition: all 0.3s ease;
}
.contact .right form input[type="submit"]:hover{
    background:none;
    color:var(--primary-color);
}
footer{
    text-align: center;
    background:#222;
    padding:20px 0;
    color:#fff;
    font-size: 12px;
}
footer span{
    color:var(--primary-color);
}

/* Responsive */
@media only screen and (min-width:907px){
    .container{
        padding:0 50px;
    }
    section .container .title{
        font-size:50px;
    }
    header .container nav img,
    .menu{
        display: none;
    }
    header nav{
        display:block;
        position:unset;
        height:auto;
        width:100%;
        background:none;
    }
    header .container .logo{
        margin-top: 5px;
        font-size: 28px;
    }
    header nav ul{
       margin:0;
       text-align: right;
       margin-left:40px;
    }
    header nav ul li{
        display: inline-block;
    }
    header nav ul li a.home{
        margin:0;
    }
    header nav ul li a{
        color:#000;
        font-size: 19px;
        font-weight: 400;
        margin:10px;
        transition: all 0.3s ease;
    }
    header nav ul li a:hover{
        color:var(--primary-color);
    }
    header.sticky a{
        color:#fff;
    }
    .home .home-left{
        padding-top:100px;
    }
    .home .home-content .home-right img{
        width:450px;
    }

    .home .home-content .home-left .text{
        font-size: 26px;
        letter-spacing: 1px;
    }
    .home .home-content .home-left .name{
        font-size:70px;
    }
    .home .home-content .home-left .who{
        font-size: 32px;
    }
    .home .home-content .home-left a{
        padding:13px 35px;
        margin-top:20px;
        font-size: 23px;
    }
    .about .container .about-content{
        flex-direction: row;
        justify-content: space-between;
    }
    .about .about-content .right .text{
        font-size: 28px;
        text-align: left;
        width:380px;
        font-family: "Poppins";
    }
    .about .about-content .right .info{
        font-size: 17px;
        text-align: justify;
    }
    .about .about-content .right .text::before{
        left:43%;
        transform: translate(-50%);
    }
    .about .about-content .right .text::after{
        left:43%;
        transform: translate(-50%);
    }
    .services .services-content{
        display: flex;
    }
    .services .services-content .box{
        width:calc(33% -10px);
    }
    .skills .skills-content{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .skills .skills-content .left{
        width:calc(45% - 20px);
    }
    .skills .skills-content .left p{
        text-align: justify;
    }
    .skills .skills-content .left p span{
        display: block;
        margin-top: 10px;
        font-size: 18px;
    }
    .skills .skills-content .left h2{
        font-weight: 500;
        font-size: 25px;
    }
    .skills .skills-content .right{
        width:calc(55% - 20px);
    }
    .skills .skills-content .right{
        margin-top:40px;
    }
    .contact .contact-content{
        display: flex;
        align-items: center;
        margin-top:90px;
    }
     .contact .contact-content .left{
        padding-right:20px;
    }
    .contact .contact-content .left{
        margin-top:0;
    }
    .contact .contact-content .right{
        margin-top:0;
    }
    footer{
        font-size:17px;
    }
} 
@media only screen and (min-width:500px){
    .contact .contact-content .right .fields{
        flex-direction: row;
    }
    .contact .right  .field.email{
        margin-left:20px;
    }
}
@media only screen and (min-width:450px){
    .home .home-left .text{
        font-size: 22px;
    }
    .home .home-left .name{
        font-size: 39px;
    }
    .home .home-left .who{
        font-size: 22px;
    }
}
@media only screen and (min-width:550px){
    .home .home-left .text{
        font-size: 22px;
    }
    .home .home-left .name{
        font-size: 43px;
    }
    .home .home-left .who{
        font-size: 24px;
    }
}
@media only screen and (min-width:1080px){
    .container{
        min-width:1080px;
        padding:0 90px;
        margin:auto;
    }
}
@media only screen and (min-width:1130px){
    .home .home-content .home-right{
        display:block;
    }
    .home .home-left{
        padding-top:0;
    }
}