@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --primary-color:#840ff1;
    --secondary-color:#333;
    --thirty-color:crimson;
    --color: #007af3;
    --services-color:#1b1a1b;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,
body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
.container{
    padding:5px 20px;
}
section{
    padding:100px 0;
}
/* all same codes */
section{
    padding:100px 0;
}
section .container .title{
    margin-top:-20px;
    position: relative;
    text-align: center;
    font-size:35px;
    font-weight: 600;
    padding-bottom:8px;
    font-family: "Ubuntu", sans-serif;
}
section .container .title::before{
    content: "";
    position: absolute;
    bottom:0;
    background:red;
    height:5px;
    width:140px;
    left:50%;
    transform: translate(-50%);
}
section .container .title::after{
    padding:0 5px;
    color:var(--primary-color);
    position: absolute;
    bottom:-8px;
    font-family: "Poppins";
    background:#fff;
    font-size:15px;
    left:50%;
    transform: translate(-50%);
}

/* navbar */
.navbar nav{
     display:none;
}
.navbar .container{
    display:flex;
    place-content: space-between;
    align-items: center;
}
.navbar .container .logo{
    color:var(--primary-color);
    font-size: 22px;
    font-weight: 600;
}
/* showcase section */
section.home{
    background:#faf7fc;
}
.home .home-left .text{
    font-size: 19px;

}
.home .home-left .name{
    font-weight: 600;
    font-size: 35px;
    font-family: "Ubuntu", sans-serif;
}
.home .home-left .who{
    font-size: 20px;

}
.home .home-left a{
    display:inline-block;
    text-decoration: none;
    background:var(--primary-color);
    color:#fff;
    padding:5px 13px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    margin-top:10px;
    border:2px solid var(--primary-color);
    transition: all 0.3s ease;
}
.home .home-left a:hover{
    background:none;
    color:var(--primary-color);
}
.home .home-left .who span{
    font-weight: 600;
    color:var(--primary-color);
}
.home .home-content .home-right{
    display:none;
}
/* about */
section.about .container .title::after{
    content:"01";
}
.about .container .about-content{
    display:flex;
    flex-direction: column;
}
.about .about-content .column{
    width:100%;
}
.about-content{
    margin-top:115px;
}
.about .about-content .left{
    margin-bottom: 28px;
}
.about .about-content .left .img-bg{
    background:var(--primary-color);
    width:330px;
    height:150px;
    border-radius:41% 59% 71% 29% / 45% 98% 2% 55% ;
    border-bottom:9px solid var(--primary-color);
}
.about .about-content .left .img-bg img{
    width:400px;
    margin-top:-116.8px;
    object-fit: cover;
} 
.about .about-content .right .text{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    position:relative;
    margin-bottom: 40px;
}
.about .about-content .right .text::before{
    content: "";
    position: absolute;
    bottom:-10px;
    background:rgb(0, 255, 42);
    height:5px;
    width:140px;
    left:50%;
    transform: translate(-50%);
}
.about .about-content .right .text::after{
    content:"The code master";
    padding:0 5px;
    color:var(--primary-color);
    position: absolute;
    bottom:-18px;
    font-family: "Poppins";
    background:#fff;
    font-weight: 400;
    font-size:14px;
    left:50%;
    transform: translate(-50%);
}
.about .about-content .right .info{
    font-size: 17px;
}
.about .about-content .right .info span{
    display:block;
    margin-top:10px;
}
.about .about-content .right a{
    background:var(--primary-color);
    color:#fff;
    padding:6px 12px;
    display:inline-block;
    margin-top:20px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    border:2px solid var(--primary-color);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    background:none;
    color:var(--primary-color);
}
/* services */